<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.java_project.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login_serv</url-pattern>
  </servlet-mapping>
  <display-name>java_project</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.java_project.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionCheck</display-name>
    <servlet-name>SessionCheck</servlet-name>
    <servlet-class>com.java_project.controller.SessionCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionCheck</servlet-name>
    <url-pattern>/session_check</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminRegServlet</display-name>
    <servlet-name>AdminRegServlet</servlet-name>
    <servlet-class>com.java_project.controller.AdminRegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminRegServlet</servlet-name>
    <url-pattern>/admin_reg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerListServlet</display-name>
    <servlet-name>CustomerListServlet</servlet-name>
    <servlet-class>com.java_project.controller.CustomerListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerListServlet</servlet-name>
    <url-pattern>/customer_list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerRegisterServlet</display-name>
    <servlet-name>CustomerRegisterServlet</servlet-name>
    <servlet-class>com.java_project.controller.CustomerRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerRegisterServlet</servlet-name>
    <url-pattern>/customer_register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerDeleteServlet</display-name>
    <servlet-name>CustomerDeleteServlet</servlet-name>
    <servlet-class>com.java_project.controller.CustomerDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerDeleteServlet</servlet-name>
    <url-pattern>/delete_customer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerConditionsServlet</display-name>
    <servlet-name>CustomerConditionsServlet</servlet-name>
    <servlet-class>com.java_project.controller.CustomerConditionsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerConditionsServlet</servlet-name>
    <url-pattern>/CustomerSerachWhere</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>com.java_project.controller.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/customer_update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateCsvServlet</display-name>
    <servlet-name>CreateCsvServlet</servlet-name>
    <servlet-class>com.java_project.controller.CreateCsvServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCsvServlet</servlet-name>
    <url-pattern>/create_csv</url-pattern>
  </servlet-mapping>
</web-app>